# Node dependencies
node_modules/

# Mac OS folder attributes
.DS_Store

# Autarky / Mark VCS hidden directories
.mark/

# Sovereign Identity (NEVER COMMIT THIS - Contains your private signing address/nonce)
state.json

# Local Blockchain Ledgers
chain.json
chain_*.json
autarky_compiler/target/
wallet.json
node_modules/